@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body{
    background-color: whitesmoke;
}
.main__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table__container{
}
.table__container--head{
    background-color: #2e2e2e;
    color: white;
}
.table__container--head th{
    padding: 1rem;
}
.table__container--body{
    font-family: 'Inconsolata', sans-serif;
    background-color: white;
}
.table__container--body tr:nth-child(even){
    background-color: #e0e0e0;
}
.table__container--body tr td {
    padding: .5rem 1rem;
}

.pagination{
    display: flex;
    flex-direction: row;
}